<!-- extending static header bar -->
{% extends 'ui/base.html' %}
{% block content %}
    {% load staticfiles %}
    <div id="main_content">
        <div id="devices_list_container">
            <div id="devices_list_header_container">
                <div id="devices_list_heading">Devices</div>
                <!-- <div id="devices_menu_container">
                    <a href="#" onclick="return false;"><img style="height: 15px;width: 15px;" src='{% static "images/new.png" %}' /></a>
                    <a href="#" onclick="return false;"><img style="height: 15px;width: 15px;" src='{% static "images/delete.png" %}' /></a>
                </div> -->
                <div class="clear"></div>
            </div>
            
            <div id="devices_list_content_container">
                <!-- {% for d in devices %}
                <div class="devices_list_block" onclick="showDeviceDetails('{{ d.udid }}', 0, this);">
                    <div id="devices_name" name="devices_name" class="devices_name">
                        {% if d.devicename|length > 0 %}
                            {{ d.devicename }}
                        {% else %} 
                            No Name
                        {% endif %}
                    </div>
                    <div class="devices_regdate" id="devices_regdate" name="devices_regdate">
                        {{ d.regdate }}
                    </div>
                </div>
                {% endfor %}
 -->            
            </div>
        </div><!-- 
        --><div id="devices_detail_container" style="display:none;">
            <div id="tabs">
                <ul > <!-- if the details container height is greater than window height, then set it with this method -->
                    <li><a href="#tabs-1">General</a></li>
                    <li><a href="#tabs-2">Profiles</a></li>
                    <li><a href="#tabs-3">Applications</a></li>
                </ul>
                
                <div id="tabs-1" class="tab_container">
                    <div id="general_description">
                        <div id="devices_desc_col">
                            <div id="edit_device_detail">
                                <div id="edit_device_label">
                                    Name: 
                                </div>
                                <div id="edit_device_input">
                                    <input type="text" name="device_name" id="edit_device_name" />
                                </div>
                            </div>
                            
                            <div id="edit_device_detail">
                                <div id="edit_device_label">
                                    Reg Date :	
                                </div>
                                <div id="edit_device_input">
                                    <div id="device_reg_date">Device Regist date will come here</div>
                                </div>
                            </div>
                            
                            <div id="edit_device_detail">
                                <div id="edit_device_label">
                                    UDID :
                                </div> 
                                <div id="edit_device_input">
                                    <div id="device_udid">Device udid will come here</div>
                                </div>
                            </div>
                            
                        </div>
                        <div id="devices_desc_col">
                            <div style="display:inline-block;margin-top:10px;" onclick="saveDeviceName();" class="button">Update</div>
                        </div>
                        
                        <div style="border-bottom:1px solid black;" id="devices_info_container">
                            <div id="device_info_row">
                                <div id="device_info_block" style="float:left;">
                                    <div id="device_info_label">
                                        OSVersion
                                    </div>
                                    <div name="OSVersion" id="device_info_val">
                                        
                                    </div>
                                </div>
                                
                                <div id="device_info_block" style="float:left;">
                                    <div id="device_info_label">
                                        BuildVersion
                                    </div>
                                    <div name="BuildVersion" id="device_info_val">
                                    
                                    </div>
                                </div>
                                
                                <div id="device_info_block" style="float:left;">
                                    <div id="device_info_label">
                                        ModelName
                                    </div>
                                    <div name="ModelName" id="device_info_val">
                                    
                                    </div>
                                </div>
                                
                                <!-- <div id="device_info_block" style="width:10%;" style="float:right;">
                                    <a style="color: blue;" id="showDeviceInfoLink" href="#" onclick="showDeviceInfo(); return false;">more</a>
                                </div> -->
                                <div class="clear"></div>
                                
                                <div class="deviceInfoDiv" id="deviceInfoDiv" name="deviceInfoDiv">
                                    <!-- Values will be filled through javascript -->
                                </div>
                            </div>
                        </div>
                        
                        <div style="margin-top: 10px;">
                            <div style="font-size: 12px; width: 250px;" onclick="getLatestDeviceInfo();" class="button">Request latest device information.</div>
                        </div>
                    </div>
                </div>
                
                <div id="tabs-2" class="tab_container" >
                    <div id="profiles_description">
                        <div id="device_profiles">
                            There are currently no Profiles saved.
                        </div>
                    </div>
                </div>
                
                <div id="tabs-3" class="tab_container" >
                    <div id="apps_description">
                        <div id="device_apps">
                            There are currently no Applications saved.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}