/** style.css **/
* {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}

html, body {
    width:100%;
    height:100%;
}

body {
    margin:0;
    padding:0;
    
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
	font-size: 62.5%;
    
    overflow: hidden;
}

a {
    text-decoration:none;
    color:black;
}

.button {
    color: rgb(87, 87, 87);
    text-decoration: none;
    border: 1px solid black;
    padding: 0 5px;
    background: rgb(216, 216, 216);
    cursor: pointer;
    /* font-size: 20px; */
    
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

.clear {
    clear:both;
}

#topbar {
    text-align:left;
    font-size:22px;
    font-weight:bold;
    color:white;
    padding-left: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}

#loading {
    display: none;
    font-size: 16px;
    font-weight: normal;
    margin:0 auto;
    width: 30%;
}

/* home page style */
#home_container {
    margin:10px;
    font-size:20px;
}

#home_column1 {
    float:left;
}

#home_column2 {
    float:right;
}

#home_menu {
    margin:10px 0;
}

/* devices page style */

/* #devices_header {
    border-bottom: 1px solid black;
    color: rgb(87, 87, 87);
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    width: 95%;
} */

#action_menu_div, #profile_menu_div, #app_menu_div {
    width: 150px;
    float:right;
    /* margin-right:40px; */
}

#app_menu_div {
    margin-right:40px;
}

#action_menu_div, #profile_menu_div {
    margin-right:20px;
}

.js #action_menu, .js #profile_menu , .js #app_menu {
    display:none;
}

.js .slicknav_menu {
    display:block;
}
#devices_details {
    color: rgb(87, 87, 87);
}

#devices_menu {
    float: right;
    width: 40%;
}

#devices_info_container{
    border-top: 1px solid black;
}

#device_info_row {
    margin: 10px 0;
}

#device_info_block{
    width: 28%;
    display: inline-block;
    margin: 3px 0;
}

#device_info_label {
    display: inline-block;
    font-weight: bold;
    width: 120px;
}

#device_info_val {
    display: inline-block;
    margin-left: 10px;
}

/* #devices_list_container, #devices_desc_container {
    display: inline-block;
    vertical-align: top;
} */
/* #devices_list_container {
    border-right: 1px solid black;
    min-height: 250px;
    width: 25%;
} */
/* #devices_desc_container {
    padding-left: 15px;
    width: 74%;
} */
#edit_device_detail {
    margin: 10px 0;
    width: 100%;
}
#edit_device_label {
    display: inline-block;
    width: 17%;
}
#edit_device_input {
    display: inline-block;
    width: 80%;
}
#edit_device_input input {
    width: 100%;
}
#devices_desc_col {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
#devices_name_block {
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    vertical-align: top;
}
.device_profile_name, .device_app_name {
    font-size: 13px;
    width: 85% !important;
    font-weight: bold;
}
#device_list_block {
    border-bottom: 1px solid black;
    font-size: 20px;
}
#device_profiles_heading, #device_apps_heading {
    border-bottom: 1px solid black;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}
#device_profile_block, #device_app_block {
    border-bottom: 1px solid rgb(150, 150, 150);
    margin: 10px 0;
    width: 88%;
}
#device_prof_fld, #device_app_fld, #device_app_details {
    margin: 5px 0;
}
#device_prof_fld_lbl, #device_app_fld_lbl {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
#device_prof_fld_val, #device_app_fld_val {
    display: inline-block;
    width: 60%;
}
.device_info_show_more, .device_info_remove, .device_info_uninstall {
    color: blue;
    cursor: pointer;
    display: inline-block;
}

/* profiles page style */
#profile_container {
    color:rgb(80, 80, 80);
}

#devices_header {
    padding-top: 10px;
    padding-bottom: 10px;
    height:41px;
}

#profile_heading {
    padding-top: 5px;
    padding-bottom: 5px;
}

#profile_heading, #devices_header {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: #006BA1;
    padding-left: 5px;
    color: #ffffff;
}

#profile_div, #device_list_block {
    padding: 10px 0;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.profile_div_sel, .device_list_block_sel {
    background: #EAE5E5
}

#profile_details {
    margin-top:0px;
    margin-left : 0px;
}

#current_profiles, #device_list {
    margin: 5px 0px 5px 5px;
}

#profile_details a {
    color: rgb(80, 80, 80);
}

#current_profile_container, #devices_list_container {
    display: inline-block;
    width: 20%;
    /* border: 1px solid black; */
    vertical-align:top;
    /* height: 95%; */
    overflow: auto;
}

#current_profile_name, #no_profile_msg {
    margin: 5px 0;
}

#new_profile_container, #devices_desc_container {
    display: inline-block;
    /* border: 1px solid black; */
    width: 75%;
    display:none;
    vertical-align:top;
    margin-left: 15px;
    margin-top: 15px;
}

#general_heading, #restrictions_heading {
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
}

#restrictions_details{
    margin-left: 15px;
}

#general_details, #restrictions_details{
    font-size: 11px;
}



#general_ques_block {
    margin: 5px;
}

#profile_field_element input {
    width:80%;
}

#restriction_field_element {
    display:inline-block;
    vertical-align:middle;
}

#restriction_field_title {
    display:inline-block;
    vertical-align:middle;
}

#restriction_sub_ques_block {
    margin-left:20px;
}

#save_profile_container {
    margin-top:10px;
    margin-left:10px;
}

/* Register device styles */
#register_device_container {
    font-size: 20px;
    margin:20px 10px;
}

#register_device_block {
    margin: 10px 0;
}